html{
  font-family: system-ui, sans-serif;
}

/*font-family*/
$JP-serif: "Hiragino Kaku Gothic Pro", "Yu Gothic", sans-serif;
$JP-sans-serif: "Hiragino Mincho Pro", "Yu Mincho", serif;
$EN-serif: "Times New Roman", "Times", sans-serif;
$EN-sans-serif: "Helvetica Neue", "Arial", serif;


/*font-size*/

/*h1*/
h1{
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  margin: 0px;
}

/*h2*/
h2{
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  margin: 0px;
}

/*h3*/
h3{
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  margin: 0px;
}

/*h4*/
h4{
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin: 0px;
}

/*h5*/
h5{
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  margin: 0px;
}

/*h6*/
h6{
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  margin: 0px;
}

/*body1*/
@mixin body1() {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin: 0px;
}

/*body2*/
@mixin body2() {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin: 0px;
}

/*caption*/
@mixin caption() {
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  margin: 0px;
}